@inherits LayoutComponentBase
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap" rel="stylesheet">


<div class="topbar">
    <div class="titlesplash">Red Robotics - Work Schedule</div>
</div>
<div class="page">
    <div class="sidebar">
        <div class="ui-option">Home</div>
        <div class="ui-option">Shifts</div>
        <div class="ui-option">Account</div>

    </div>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
